/*///fonts & size///*/
/*
I chose Helvetica Neue LT Pro because its clean and modern appearance matches the visual style of the Luni website. 
I used a heavier weight for headings and a lighter weight for body text to create a clearvisual hierarchy while 
keeping the page soft and easy to read.
*/

h1,h2,h3,h4{
font-family: "helvetica-neue-lt-pro", sans-serif;
 font-weight: 500;
 font-style: normal;
}
 
 h1 {
  margin: 0;

  font-size: 8rem;
  line-height: 0.9;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 4rem;
  line-height: 1;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}


/*//////header & navigation/////*/
/*
I learned from the MDN CSS values and units tutorial that vh is relative to the height of the viewport. 
I used 100vh to make the header fill the first screen.
Source: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Values_and_units
*/

header {
  height: 100vh; 
  padding: 30px 8%;
}

/*
I learned how to use fixed positioning from the MDN CSS positioning documentation.
I used Flexbox to arrange the navigation content，Fixed positioning to keep the navigation visible
while the user scrolls through the webpage, and Opacity and rounded corners to create a softer visual style.
Sources:
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/opacity 
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 30px;
  left: 4%;
  right: 4%;
  padding: 20px 30px;

   background-color: white;
   opacity: 0.8;

  border-radius: 50px;

  z-index: 10;
}

nav a {
  color: #242333;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

nav a:hover {
  color: #f4bedc;
  transform: scale(1.05);
  font-weight: 500;
}

.navigation {
  display: flex;
  gap: 20px;
}


/*/////hero////*/
/*
I added a hover effect to the main title and button to make the opening section feel more interactive. 
The scale and colour changes provide immediate visual feedback when the user moves the mouse over them.
Sources: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/scale
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using
*/

.hero {
  margin-top: 170px;
  text-align: center;
}

.hero h1 {
  font-size: 7rem;
  line-height: 1.1;
  transition: transform 0.3s, color 0.3s;
}

.hero h1:hover {
  transform: scale(1.05);
  color: white;
  opacity: 0.7;
}

.hero {
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  width: 100%;
}

.intro {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  color: #242333;
  background-color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}
.button:hover {
  background-color: #e1f570;
  color: #242333;
  transform: scale(1.05);
}


/*//////body//////*/

/* 
I learned how to create a non-centred radial gradient from the MDN radial-gradient documentation. 
I changed the colours, position and percentages to create a soft pink, purple and blue background that
matches the visual direction of the webpage.
Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/radial-gradient 
*/

/*
I learned that using auto margins can horizontally centre block elements from margin tutorial. 
I used this method to centre the question cards and section headings while keeping the same maximum width,
so their left and right edges stay aligned.
Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/margin
*/

body {
  margin: 0;

  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 200;
  font-style: normal;

  color: #242333;
  background-image: radial-gradient(
    farthest-corner at 20% 20%,
    #f6c6d8 0%,
    #d7cef2 55%,
    #91b0f2 100%
  );

  line-height: 1.6;
}


/*sections*/
/*
 Large section headings create a clear separation between the four main parts
 while keeping their left edges aligned with the question cards.
 */

section {
  padding: 120px 8%;
}

section h2 {
  margin: 0 auto 50px;
  max-width: 1100px;
  text-align: left;

  font-size: 8rem;
  line-height: 1;

  color: white;
  opacity: 0.8;
}


/* ////Question cards ////*/

/* I used the card design inspired by the Luni website to organize the questions and 
make the webpage more visually engaging and easier to read. */

/* 
I reduced the normal opacity of the cards and returned them to full opacity on hover.
I also used scale() to make each card slightly larger and CSS transitions to make these
changes feel smoother. This provides visual feedback without making the interaction too distracting.

Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/opacity 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/scale
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transitions/Using
*/

.card {
  max-width: 1100px;
  margin: 0 auto 60px auto;
  padding: 35px;
  background-color: #fffdf8;
  opacity: 0.8;
  border-radius: 35px;
  text-align: left;
  transition: opacity 0.3s, transform 0.3s;
}

.card:hover {
  opacity: 1;
  transform: scale(1.02);
}

.card p {
  margin: 0 auto 15px;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
}

/* I used Flexbox to place related question cards next to each other. */
.card-row {
  display: flex;
  max-width: 1100px;
  margin: 0 auto 30px;
  gap: 30px;
}

/* 
I learned from the Flexbox tutorial that flex: 1 allows flex items
to share the available space equally inside a flex container.
Source: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Flexbox 
*/

.card-row .card {
  flex: 1;
}

.words {
  max-width: 1000px;
  padding: 50px 60px;
}


.card-row .card {
  flex: 1;
  margin-bottom: 0;
}

.purpose-card {
  text-align: left;
}

.purpose-card h3 {
  margin-top: 0;
  margin-bottom: 35px;
}

.interaction-card {
  display: flex;
  align-items: flex-start;

  gap: 60px;
}

.interaction-card h3 {
  flex: 1;
  margin: 0;
}

.interaction-card p {
  flex: 2;
  max-width: none;
  margin: 0;

  text-align: left;
}

/* I adjusted the max-width of the Question 8 and the First Impression content
so that the text fits the size of each card better and shows a more balanced layout. */

.question8 p {
  max-width: 900px;
  margin: 15px auto 0;
}

.first-impression {
    max-width: 800px;
}

/* emphasizing scroll word by adding font size and color*/
.scroll-text{
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #dff04f;
}
/* adjust the layout of individual heading with content*/
.question4 {
    margin-bottom: 0;
}

.big-words {
  margin: 0 0 40px 0;
}

.big-words p {
  margin: 0;

  font-size: 3rem;
  line-height: 1.05;
  font-weight: 500;
}

/*title*/

#purpose h2 {
  margin-bottom: 30px;
}

.big-text {
  font-size: 2rem;
  line-height: 1;

  font-weight: 400;
}

figure {
  max-width: 700px;

  margin: 30px auto;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.image-row {
    display: flex;
    gap: 20px;
}

.image-row figure {
  flex: 1;
  margin-bottom: 20px;
}

/*
I used flex-flow: row wrap to arrange the interaction GIFs from left to right and allow them
to continue onto a new row. I also centred the items so that the group sits more evenly inside the card.

Source: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Flexbox
*/

.gif-row {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.gif-row figure {
  width: 45%;
  margin: 0;
}

.gif-row img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.frustrating-text, .satisfying-text {
    margin-top: 20px;
}



/*/////Timeline////*/

/*
I used the W3Schools CSS Timeline tutorial to understand how relative and absolute positioning 
can be used to create a vertical timeline.
I adapted the spacing, colours, typography and content to suit my own page, and added hover feedback
to connect each timeline circle with its corresponding text.

Source: https://www.w3schools.com/howto/howto_css_timeline.asp
*/

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 25px auto;
  text-align: left;
}

/*the middle line*/
.timeline::after {
  content: "";
  position: absolute;

  width: 1.5px;
  top: 0;
  bottom: 0;
  left: 50%;

  background-color: #242333;
}

.container {
  position: relative;
  padding: 5px 15px;
  width: 50%;
}

.left {
  left: 0;
}
.right {
  left: 50%;
}

/*circles*/
.container::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;

  background-color: #fffdf8;
  border: 3px solid #dff04f;
  top: 18px;
  border-radius: 50%;
  z-index: 10;
}

.left::after {
    right: -10px;
}
.right::after {
  left: -10px;
}


.content {
  padding: 12px 16px;
  background-color: #fffdf8;
  border-radius: 15px;
}

.content h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1rem;
}

.content p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.3;
}

/*
hover effect
When the user hovers over a timeline item, its circle becomes larger
and the content background changes colour. This makes the relationship
between each point and its description easier to recognise.
*/
.container::after,
.content{
  transition: 0.3s;
}

.container:hover::after {
  background-color: #dff04f;
  transform: scale(1.3);
}

.container:hover .content {
  background-color: #f4eafa;
}


/*/////footer/////*/
/*
The footer contains my github account link, luni website, and the course name.
I used Flexbox to keep the information aligned on one horizontal line.
*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 8%;

  color: white;
  background-color: #242333;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover{
    color: #dff04f;
    text-decoration: underline;
}
